 <div class="container-fluid" style="text-align:center;">
   <h2>Welcome to Brian's Sound Manager</h2>
<br>
   <%= link_to image_tag('music_collection.jpg', :border => 0), {:controller=>'sounds', :action=>'index' }%> 
   <br> 
  </div>
