<h1>Editing sound</h1>

<%= render 'form' %>

<div class="sound_btn">
<%= button_to @sound, {:method=>'get', :class=>"btn btn-primary"} do %>
<i class="icon-zoom-in"></i> View
<% end %>
</div>
<div class="sound_btn">
<%= button_to sounds_path, {:method=>'get', :class=>"btn btn-primary"} do %>
<i class="icon-arrow-left"></i> Back
<% end %>
</div>
