// Place all the styles related to the Sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content
{
  margin: 15px;
  border:1px solid #777;
  border-radius: 15px;
}

footer
{
  margin: 15px;
}

.sound_btn
{
  float:left;
  width:auto;
  margin-right:5px;
}

th, td
{
  text-align:center;
}

table.dataTable tr:nth-child(even)
{
  background-color:#3366ff;
  color:#ccccff;
}

table.dataTable tr:nth-child(even) a
{
  text-decoration:none;
  color:#ccccff;
}
table.dataTable tr:nth-child(even) a:hover
{
  text-decoration:none;
  color:#ffffff;
  background-color:transparent;
}

table.dataTable tr:nth-child(odd) a
{
  text-decoration:none;
}
table.dataTable tr:nth-child(odd) a:hover
{
  color:#000;
  text-decoration:none;
  background-color:transparent;
}
